<!DOCTYPE html>
<html>
  <head>
    <title>Channel 資料總覽</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Sbtkaka</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul id="nav_monthly_report" class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                  <span data-feather="home"></span>
                  回首頁
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/channel.html?month=08">
                  <span data-feather="file"></span>
                  8月份總覽
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/channel.html?month=09">
                  <span data-feather="file"></span>
                  9月份總覽
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/channel.html?month=10">
                  <span data-feather="file"></span>
                  10月份總覽
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/channel.html?month=11">
                  <span data-feather="file"></span>
                  11月份總覽
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="chartTitle" class="h2"></h1>
          </div>
          <h2 id="reportTitle"></h2>
          <div id="summary-table" class="table-responsive">
            <form name="search-filter">
              <fieldset>
                <legend>日期</legend>
                <label for="start"> 開始時間: </label>
                <input type="date" id="start" name="trip-start" v-model="filters.startDate" v-bind:min="minDate" v-bind:max="maxDate">
                <label for="end"> 結束時間: </label>
                <input type="date" id="end" name="trip-end" v-model="filters.endDate" v-bind:min="minDate" v-bind:max="maxDate">
              </fieldset>
              <fieldset>
                <legend>Channel 快速篩選</legend>
                <input type="radio" id="channelNameAll" name="channelNameFilter" v-model="filters.channelName" value="" checked><label for="channelNameAll">全部資料</label>
                <template v-for="(val, key) in listSourceGroupByName">
                  <input
                    type="radio"
                    v-bind:id="`channelName${key}`"
                    name="channelNameFilter"
                    v-model="filters.channelName"
                    v-bind:value="key">
                    <label v-bind:for="`channelName${key}`">{{key}}</label>
                </template>

              </fieldset>
            </form>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>日期</th>
                  <th>Channel Name</th>
                  <th>BetAmount</th>
                  <th>NetWin</th>
                  <th>Revenue</th>
                  <th>存款總額</th>
                  <th>新註冊人數</th>
                  <th>活躍人數</th>
                </tr>
              </thead>
              <tbody v-if="list.length > 0">
                <tr v-for="i in list">
                  <td>{{ i.accountingDate }}</td>
                  <td>{{ i.name }}</td>
                  <td>{{ i.betAmount }}</td>
                  <td v-bind:class="{ 'table-danger': i.netWin<0 }">{{ i.netWin }}</td>
                  <td v-bind:class="{ 'table-warning': i.revenue<0 }">{{ i.revenue }}</td>
                  <td>{{ i.deposit }}</td>
                  <td>{{ i.newMember }}</td>
                  <td>{{ i.effectiveMember }}</td>
                </tr>
                <tr>
                  <td colspan="2">加總</td>
                  <td>{{ sum.betAmount }}</td>
                  <td>{{ sum.netWin }}</td>
                  <td>{{ sum.revenue }}</td>
                  <td>{{ sum.deposit }}</td>
                  <td>{{ sum.newMember }}</td>
                  <td>{{ sum.effectiveMember }}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr><td colspan="8" style="text-align: center;"> 尚無資料，請詢問系統管理員 </td></tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./utils.js"></script>
    <script src="./channel.js"></script>
  </body>
</html>